<html>
  <head style='font-family:"LFT Etica", "Roboto", sans-serif; margin:0; padding:0'>
    <meta name="viewport" content="width=device-width">
    </head>
  <body style='font-family:"LFT Etica", "Roboto", sans-serif; margin:0; padding:0'>
    <div class="header" style="text-align:center" align="center">
      <a href="https://www.nwhacks.io">
        <div class="title" style="background-color:#4bae74; padding:15px 0" bgcolor="#4bae74">
          <img src="https://www.nwhacks.io/static/img/nwhacks-text.png" style="max-height:22px; max-width:calc(100% - 50px)">
        </div>
        <div class="well" style="background:url(https://www.nwhacks.io/static/img/background_hacker_dark.jpg) no-repeat center/cover">
          <img src="https://www.nwhacks.io/static/img/nwhacks-logo-white.png" style="margin:50px; max-height:200px; max-width:calc(100% - 100px)">
        </div>
      </a>
    </div>
    <div class="content" style="font-size:14pt; padding:50px 30px">
      <p> Hi {{ name }}, </p>
      <p>
      Thanks for applying to nwHacks! We've received your application and will be reviewing them in the next few weeks. We hope to see you in February!  </p>
      <p> Cheers, </p>
      <p> The nwHacks Team </p>
    </div>
    <div class="footer" style="background-color:#3d4658; color:white; padding:10px; text-align:center" bgcolor="#3d4658" align="center">
      <p style="margin:0">nwHacks 2016</p>
      <p style="margin:0"><a href="https://nwhacks.io" style="color:#4bae74">Website</a></p>
      <p style="margin:0"><a href="mailto:sponsorship@nwhacks.io" style="color:#4bae74">Email Us</a></p>
    </div>
  </body>
</html>